<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Mejor Dicho</title>
</head>
<body>
    <header>
        <div>
            <img  id="logo" src="/static/img/LogoSinFondoGris.png" alt="logoMD">
            <ul>
                <li><a href="index.html"><span>Inicio</span></a></li>
                <li><a href="semanaAnterior.html"><span>Semana anterior</span></a></li>
                <li><a href="videos.html"><span>Videos</span></a></li>
                <li><a href="divulgacion.html"><span>Divulgación</span></a></li>
                <li><a href="contacto.html"><span>Contacto</span></a></li>
            </ul>
        </div>
        <div class="redes">
            <a href="www.facebook.com"><img src="/static/img/facebook.png" alt="" width="30px"></a>
            <a href="www.instagram.com"><img src="/static/img/instagramRojo.png" alt="" width="30px"></a>
            <a href="www.spotify.com"><img src="/static/img/spotify.png" alt="" width="30px"></a>
            <a href="www.youtube.com"><img src="/static/img/youtube.png" alt="" width="40px"></a>
            <a href="www.web.whatsapp.com"><img src="/static/img/whatsapp.png" alt="" width="30px"></a>
            <a href="www.tiktok.com"><img src="/static/img/tiktok.png" alt="" width="30px"></a>
        </div>
        
        
        
        <div>
            <img  id="portada" src="/static/img/cientifica.jpg" alt="portada">
            <h1 id="tituloPortada"> La ciencia manda refuerzos a la inmunoterapia para aniquilar el <strong>cáncer</strong></h1>
            <h4 id="parrafoPortada">Dos estudios independientes constatan que la misma estrategia terapéutica de combinar dos tipos de tratamientos oncológicos mejora la respuesta en tumores de pulmón y linfomas de Hodgkin</h4>
            <h6 id="piePortada" >Carlos Bodoque 26/6/2024 <a id="linkDivulgacion" href="divulgacion.html">Divulgación</a> </h6>
        </div>

    </header>
    <main>
        <div class="publicitario">
            <img class="banner" id="colorete" src="/static/img/business-banner.jpg" alt="banner publicitario">
            <img class="banner" id="publicidadDos" src="/static/img/publicidad.png" alt="publicidad">
        </div>
        <div class="noticias" >
            
            <hr>
            <h4 class="noticias" id="semanales" >Noticias más vistas</h4>
            <img src="/static/img/clima.webp" alt="foto1"> 
            <h3>  <a href="noticia1.html"> Cambio climático en Uruguay </a></h3>
            <h5>Recientes estudios demuestran que Uruguay está siendo afectado por el cambio climático. Se espera que montevideo pierda su rambla en menos de 20 años</h5>
            <br>
            <h6>Carlos Petinati 2/8/2023 <a id="linkDivulgacion" href="divulgacion.html">Divulgación</a> </h6>
            <hr>
            <img src="/static/img/demografia.jpg" alt="foto2">
            <h3> <a href="noticia2.html"> Demografía </a></h3>
            <h5>Actualmente los indices de natalidad han disminuido en todo el mundo desarrollado se presenta como principal hipotesis al acceso a estudios por parte de las mujeres</h5>
            <br>
            <h6>Carlos Tanco 6/6/2023 <a id="linkDivulgacion" href="divulgacion.html">Divulgación</a> </h6>
            <hr>
            <img src="/static/img/fitness.jpg" alt="foto3">
            <h3> <a href="noticia3.html">Vida saludable</a></h3>
            <h5>¿Qué tan saludable realmente es "la vida saludable"? Estudios recientes debelan que las dietas fitness no son recomendables para muchas personas, también hay estudios que demuestran problemas relacionados a la salud mental de aquellas personas que buscan obtener un cuerpo firness</h5>
            <br>
            <h6>Carlo magno 18/6/2024 <a id="linkDivulgacion" href="semanaAnterior.html">Semana anterior</a> </h6>
            <hr>
            <img src="/static/img/jamesWebb.webp" alt="foto4">
            <h3> <a href="noticia4.html"> James Webb </a></h3>
            <h5>¿El mayor logro de la humanidad hasta la fecha? Hay quienes postulan al telescopio James Webb como el más colosal invento de la humanidad. Ya ha hecho que muchos cientificos tengan re reveer aquellas hipotesis que soliamos tomar como verdad</h5>
            <br><br>
            <h6>Leandro Cabrera 20/6/2024 <a id="linkDivulgacion" href="divulgacion.html">Divulgación</a> </h6>
            <hr>
            <img src="/static/img/vaca.jpg" alt="foto5">
            <h3>  <a href="noctia5.html"> Ganadería y PBI </a></h3>
            <h5>Actualmente la ganadría en Uruguay continua siendo la gran fuente dde igresos del país así como lo era en los siglos XVIII, XIX y XX. ¿Uruguay tiene posibilidades de crecer desde algun sector que no sea la ganadería? </h5>
            <br><br>
            <h6>Daniel Peluffo 10/6/2024 <a id="linkDivulgacion" href="semanaAnterior.html">Seemana anterior</a> </h6>
            <hr>
            <img src="/static/img/edu.jpg" alt="foto6">
            <h3> <a href="noticia6.html"> La educación en el mundo </a></h3>
            <h5>Recientemente se demuestran que Latinoamérica se encuentra muy distante de paises desarrollados en materia de estudios. A partirr de pruebas realizadas a estudiantes de muchos paises se estima que en el 2050 Uruguay recien alcanzara los nives de aprendizaje que muestran los estudiantes chinos en la actualidad   </h5>
            <br><br>
            <h6>Jorge Lanata 26/6/2022 <a id="linkDivulgacion" href="divulgacion.html">Divulgación</a> </h6>
            <hr>
           
        </div>

        <div class="publicitario">
            <img class="banner" id="colorete" src="/static/img/business-banner.jpg" alt="banner publicitario">
            <img class="banner" id="publicidadDos" src="/static/img/publicidad.png" alt="publicidad">
        </div>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>            
        <div class="videosNoticias">

            <h4 class="noticias" id="semanales" >Videos destacados</h4>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/s5jtK4qGOXI?si=jE4RGHnv27zePAlf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/bO6uESn1KDU?si=WGgAzPwpO_sMS2rK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <h3>Personas pierden el Brillo de sus Ojos</h3>
            <h3 id="v3" >El gran milagro de República Checa</h3>

            <br><br><br>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/wFzFhs9xb5U?si=ytEguxYUcxB1bnuj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/jYujBkdy1Kw?si=axrGfiwxAyQ6H5i6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <h3>Nvidia vale más que Apple y Microsoft</h3>
            <h3 id="v3" >Ganadería y agricultura en Uruguay</h3>
            <br><br><br>
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bfsjIwCCPNg?si=YA2-mmvDW8GdjtX6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/U-Z6M2s5Lgg?si=RTfcLGbMdX4Iu9zB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3>Ricardo Darin volvió a domar a Fantino</h3>
            <h3 id="v3" >Gran triunfo Uruguay 3-1 Panamá</h3>
            <br><br><br>

        </div>
        <div class="publicitario">
            <img class="banner" id="colorete" src="/static/img/business-banner.jpg" alt="banner publicitario">
            <img class="banner" id="publicidadDos" src="/static/img/publicidad.png" alt="publicidad">
        </div>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br> 


    </main>
    <footer>
        <div class="pie">
            <img id="loguito" src="/static/img/LogoSinFondoGris.png" alt="logoMD">
            <h6> Mejor dicho es un semanario que busca acercar noticias de relevancia, haciendo incapié en dar contenido de valor a su comunidad. Entendemos que con la cantidad de información que existe en las redes es imposible verificar la veracidad y rigurosidad de las noticias, por eso apelamos a construir una comunnidad de confianza</h6>
            <ul>
                <li>
                    <h5>Tiktok</h5> 
                    <a href="www.tiktok.com"><img src="/static/img/tiktok.png" alt="logo tiktok" id="tiktok"> </a> 
                </li>
                <li>
                    <h5>Instagram</h5>
                    <a href="www.instagram.com"><img src="/static/img/instagramRojo.png" alt="logo instagram"></a>
                </li>
                <li>
                    <h5>Facebook</h5>
                    <a href="www.facebook.com"><img src="/static/img/facebook.png" alt="logo facebook"></a>
                </li>
                <li>
                    <h5>YouTube</h5>
                    <a href="www.youtube.com"> <img src="/static/img/youtube.png" alt="logo youtube" id="youtube"></a>
                </li>
                <li>
                    <h5>Spotify</h5>
                    <a href="www.spotify.com"> <img src="/static/img/spotify.png" alt="logo spotify"> </a>
                </li>
                <li>
                    <h5>Whatsapp</h5>
                    <a href="www.we.whatsapp.com"><img src="/static/img/whatsapp.png" alt="logo whatsapp"> </a>
                </li>
            </ul>
            <br>
            <hr>
            <br>
            <h4>Director General: Daniel Peluffo</h4>
            <h4>-</h4>
            <h4>Celular: 099111222</h4>
            <h4>-</h4>
            <h4>Teléfono: 43521234</h4>
            <h4>-</h4>
            <h4>Email: mejorDicho@gmail.com</h4>
            <h4>-</h4>
            <h4>Ciudad de Florida, Uruguay</h4>
        </div>
    </footer>
    
</body>
</html>