<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Mejor Dicho</title>
</head>
<body>
    <header>
        <div>
            <img  id="logo" src="/static/img/LogoSinFondoGris.png" alt="logoMD">
            <ul>
                <li><a href="index.html"><span>Inicio</span></a></li>
                <li><a href="semanaAnterior.html"><span>Semana anterior</span></a></li>
                <li><a href="videos.html"><span>Videos</span></a></li>
                <li><a href="divulgacion.html"><span>Divulgación</span></a></li>
                <li><a href="contacto.html"><span>Contacto</span></a></li>
            </ul>

        </div>
        <div>
           
        </div>

    </header>
    
</body>
</html>